language: ruby
rvm:
  - 2.0.0
  - 2.1.5
  - 2.2.1
  - 2.2.2

before_install:
  - export NOKOGIRI_USE_SYSTEM_LIBRARIES=true

install:
  - travis_retry gem install github-pages
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install

script:
  - grunt test-plugin

notifications:
  email: false

sudo: false
