<link rel="profile" href="http://gmpg.org/xfn/11">
<meta charset="UFT-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{site.github.project_title}} &middot; {{site.org}}</title>

<meta name="author" content="{{site.github.project_title}}">
<meta name="description" content="{{site.github.project_tagline}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
<link rel="stylesheet" href="stylesheets/normalize.css" media="screen">
<link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" href="stylesheets/syntax.css" media="screen">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700">

<!-- Favicon -->
<link rel="icon" href="favicon.ico">

  <!--[if lt IE 8]>
    <p>You are using an <strong>outdated browser</strong>. Please use a different browser or <a href="http://browsehappy.com">upgrade your browser</a> to a newer version.</p>
  <![endif]-->

{% seo title=false %}
